<div>
    <p class="bg-slate-400">Nombre: {{name}}</p>
    <p class="font-semibold bg-orange-600">Apellido {{lastName}}</p>
    <p class="text-red-600">Edad: {{age}}</p>
    <p class="bg-sky-500">Email: {{email}}</p>
    <p class="">Teléfono: {{telephone}}</p>
</div>