<div class="">
    <ul class="flex flex-col">
        {{#each products}}
        <li class="grid grid-cols-9">
            <p>ID: {{id}}</p>
            <p>Title: {{title}}</p>
            <p>Description: {{description}}</p>
            <p>Code: {{code}}</p>
            <p>Price: {{price}}</p>
            <p>Stock: {{stock}}</p>
            <p>Category: {{category}}</p>
            <p>Status: {{status}}</p>
            <p>Thumbnail: {{thumbnail}}</p>
        </li>
        {{/each}}
    </ul>
</div>